/* vars */
/* resets */
html {
  box-sizing: border-box; }
  html {
    font-size: 3px; }
    @media screen and (min-height: 360px) {
      html {
        font-size: calc(3px + 29 * ((100vh - 360px) / 1215)); } }
    @media screen and (min-height: 1575px) {
      html {
        font-size: 32px; } }

*, *::before, *::after {
  box-sizing: inherit; }

/* basic */
body {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  background: #222;
  min-height: 100vh;
  margin: 0;
  display: flex; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

ul {
  margin: 0;
  padding-left: 1rem; }

/* game */
#app {
  flex: 1;
  display: flex; }

table.game-board {
  border-spacing: 0; }

.game-board__cell {
  background: #eee;
  width: 2rem;
  height: 2rem;
  border: 1px solid #222;
  cursor: pointer; }
  .game-board__cell:hover {
    border: 2px solid #8CC9FF; }

.game-board__cell--empty:hover {
  background: #bfe1ff; }

.game-board__cell--tower {
  background: #666; }
  .game-board__cell--tower:hover {
    background: #666; }

.game-board__cell--selected {
  border: 2px solid #8CC9FF;
  background: #bfe1ff; }

.game-board__cell--selected-remove {
  border: 2px solid #AA1313;
  background: #cc8181; }

.game-board__cell--route {
  background: green; }

.game-board__start {
  height: 10px;
  background: #488948;
  border: 1px solid #222; }

.game-board__end {
  height: 10px;
  background: #AA1313;
  border: 1px solid #222; }

.game-view {
  width: 100%; }

.board-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu {
  height: 30vh;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: row; }
  .menu > div {
    padding: 1rem;
    flex: 1;
    border-right: 2px solid #222; }
    .menu > div:last-child {
      border: none; }
