/* vars */

$selected: #8CC9FF;
$wall: #666;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  $min-vh: 1/(16/9) * $min-vw;
  $max-vh: 1/(16/9) * $max-vw;

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      // @media screen and (min-width: $min-vw) {
      //   font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      // }

      // @media screen and (min-width: $max-vw) {
      //   font-size: $max-font-size;
      // }

      @media screen and (min-height: $min-vh) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vh - #{$min-vh}) / #{strip-unit($max-vh - $min-vh)}));
      }

      @media screen and (min-height: $max-vh) {
        font-size: $max-font-size;
      }
    }
  }
}

/* resets */

html {
  box-sizing: border-box;
  @include fluid-type(640px, 2800px, 3px, 32px);
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* basic */

body {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
  background: #222;
  min-height: 100vh;
  margin: 0;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

/* game */

#app {
  flex: 1;
  display: flex;
}

table.game-board {
  border-spacing: 0;
}

.game-board__cell {
  background: #eee;
  width: 2rem;
  height: 2rem;
  border: 1px solid #222;
  cursor: pointer;

  &:hover {
    border: 2px solid $selected;
  }
}

.game-board__cell--empty {
  &:hover {
    background: lighten($selected, 10);
  }
}

.game-board__cell--tower {
  background: $wall;
  &:hover {
    background: $wall;
  }
}

.game-board__cell--selected {
  border: 2px solid $selected;
  background: lighten($selected, 10);
}

.game-board__cell--selected-remove {
  border: 2px solid #AA1313;
  background: mix(#AA1313, #eee);
}

.game-board__cell--route {
  background: lighten(mix(green, #eee), 20%);
}

.game-board__cell--start {
  border-top: 10px solid green;
}

.game-board__cell--end {
  border-bottom: 10px solid red;
}

.game-view {
  width: 100%;
}

.board-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  height: 30vh;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: row;

  & > div {
    padding: 1rem;
    flex: 1;
    border-right: 2px solid #222;
    &:last-child {
      border: none;
    }
  }
}

.tools {
}

.game-board-container {
  position: relative;
}

.mob-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mob {
  position: absolute;
  background: red;
  width: .5rem;
  height: .5rem;
  margin-top: -.25rem;
  margin-left: -.25rem;

  top: 0;
  left: 0;

  transition: top 1s linear, left 1s linear;
}
